* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #f5cf06;
    --secondary-color: #8e4106;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-color);
    padding-inline: 64px;
    font-family: "Righteous", sans-serif;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;   
    z-index: 1;
}

header div {
    display: flex;
    gap: 15px;
}

header a {
    display: flex;
    height: 100%;
    gap: 16px;
    align-items: center;
    font-size: 24px;
    color: var(--secondary-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    flex-grow: 1;
}

.title {
    position: relative;
    color: white;
}

.title h1 {
    font-size: 20vw;
    text-align: center;
}

.title span {
    position: absolute;
    font-size: 25vw;
    top: -35%;
    left: 0;
    opacity: 0.3;
}

.container {
    display: flex;
    align-items: center;
}

.container div {
    width: 50%;
    color: var(--secondary-color);
    z-index: 1;
}

.container h2{
    font-size: 64px;
}

.container p {
    font-size: 20px;
    width: 40vw;
}

.action {
    display: flex;
    justify-content: end;
}

.action a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 64px;
}

footer {
    height: 50px;
    text-align: center;
    color: var(--secondary-color);
    font-style: italic;
}

.pikachu-image{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
}

/* TABLET */
@media (max-width:960px) {
    body {
        padding-inline: 32px;
        padding-bottom: 32px;
    }
    main {
        justify-content: space-between;
    }

    
    footer {
        display: none;
    }

    .container {
        flex-direction: column;
        height: auto;
        gap: 16px;
    }

    .container div {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        
    }

    .container p {
        width: 70%;
    }


    .action {
        align-items: center;
        justify-content: center;
    }

    .pikachu-image {
        height: 50vh;
    }


}

/* CELULAR */
@media (max-width:640px){
    header div {
        display: none;
    }

    body {
        justify-content: center;
    }

    .title span {
        left: 50%;
        transform: translateX(-50%);
    }

    .container p {
        display: none;
    }

    .container h2 {
        font-size: 36px;
    }

    .action a {
        width: 100%;
        font-size: 50px;
    }
}